<div class="row">
  <div class="col-11 col-lg-2 m-2">
    <%= render partial: 'layouts/sidebar', locals: { roads: @messages }  %>
  </div>
  <% unless @searches.empty? %>
    <div class="col-lg-5 ml-2 pt-3">
      <%= render partial:'shared/roads/roads', locals: { roads: @searches, title: 'Search results'} %>
    </div>

    <div class="col-lg-4 pt-3">
      <%= render partial: 'shared/roads/map', locals: { roads: @searches } %>
    </div>
  <% else %>
    <div class="col text-center pt-3">
      <p>申し訳ございません。検索結果はありませんでした。</p>
      <p><%= link_to "一覧に戻る", roads_path, class:"btn btn-secondary" %></p>
    </div>
  <% end %>
</div>
