<div class="row">
  <div class="col-11 col-lg-2 m-4 side-bar border border-dark rounded">
    <%= render partial: 'layouts/sidebar', locals: { roads: @messages }  %>
  </div>
  <% unless @roads.empty?  %>
    <div class="col-lg-5 ml-2 pt-3">
      <%= render partial: 'shared/roads/roads', locals:{ roads: @roads, title: 'Your Favorite Roads'} %>
    </div>
    <div class="col-lg-4 pt-3">
      <%= render partial: 'shared/roads/map', locals: { roads: @roads } %>
    </div>
  <% else %>
    <div class="col text-center pt-3">
      <p>現在お気に入り登録しているロードはありません。</p>
      <p><%= link_to "一覧に戻る", roads_path, class:"btn btn-secondary" %></p>
    </div>
  <% end %>
</div>