<div class="row">
  <div class="col-lg-2 my-3 side-bar border border-dark rounded p-2">
    <%= render 'layouts/sidebar' %>
  </div>
  <div class="col-lg-5 ml-2">
    <%= render partial:'shared/roads/roads', locals: { roads: @roads, title: 'Cycling Roads'} %>
  </div>

  <div class="col-lg-4">
    <%= render partial: 'shared/roads/map', locals: { roads: @roads } %>
  </div>
</div>