<div class="row">
  <div class="col">
    <table class="table">
      <thead>
        <tr>
          <th>画像</th>
          <th>名前</th>
          <th>説明</th>
        </tr>
      </thead>
      <tbody>
        <% @roads.each do |road| %>
        <tr>
        <% if road.image.attached? %>
          <td><%= image_tag road.image.variant(resize:'200x200') %></td>
        <% else %>
          <td></td>
        <% end %>
          <td><%= link_to road.name, road_path(road) %></td>
          <td><%= road.introduction %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>