<div class="row">
  <%= render 'layouts/error_messages', model: @road %>
</div>

<h2 class="my-5 text-center">新規サイクリングロード登録</h2>


<div class="row">
  <%= render partial:'public/roads/road_form', locals: { road: @road, button_name: '新しいロードを登録'} %>
</div>