<div class="row">
  <div class="col card p-0">
    <%= image_tag asset_path('about04.jpg'), class:"img-fluid" %>
    <!--imgタグでは本番環境で500 internal server errorが出た-->
    <!--<img class="img-fluid" src="<%#= asset_path 'about04.jpeg' %>" />-->
    <div class="card-img-overlay">
     <ht>さあ、<br/>自転車に乗って<br/>出かけよう</h2>
     <p><%= link_to "さっそく見に行く", roads_path, data: {"turbolinks" => false}, class:"btn btn-light radius mt-md-3"%></p>
    </div>
  </div>
</div>

<div class="row pt-5">
  <div class="col-md-4 offset-md-1">
    <%= image_tag asset_path('about05.jpg'), class:"img-fluid"  %>
  </div>
  <div class="col-md-4 offset-md-1">
    <h2>自転車に乗って出かけたくなる‥そんなコンセプトで、サイトを作りました。</h2>
    <p>
      サイトを作ったきっかけは、自分が自転車にはまったことです。新しいサイクリングロードに出かけたい時に、
      まとまった情報がなかなか見つかりませんでした。そこで、このサイトを作ろうと思いました。
    </p>
  </div>
</div>

<div class="row py-5">
  <div class="col-md-4 offset-md-1">
    <%= image_tag asset_path('about06.jpg'), class:"img-fluid" %>
  </div>
  <div class="col-md-4 offset-md-1">
    <h2>注意するポイント、オススメのスポットが確認できます</h2>
    <p>
      サイクリングロードの中で、道を間違えやすいところや、
      景色のいいところ、休憩できるところなどを、他のサイクリストにも教えて下さい。
    </p>
  </div>
</div>

