<div class="row">
  <%= render 'layouts/error_messages', model: @check_point %>
</div>

<h2 class="my-5 text-center"><%= @road.name %>に<br />チェックポイントを登録</h2>

<div class="row">
  <%= render partial:'public/check_points/check_point_form', locals: { check_point: @check_point, button_name: 'チェックポイント情報を更新'} %>
</div>