<div class="row">
  <%= render 'layouts/error_messages', model: @road %>
</div>

<h2 class="my-5 text-center font-weight-bold">サイクリングロードの編集</h2>
<div class="row">
  <%= render partial:'shared/roads/road_form', locals: { road: @road, button_name: 'ロード情報を更新', url: admin_road_path(@road)} %>
</div>