<div class="row">
  <%= render 'layouts/error_messages', model: @waypoint %>
</div>

<div class="row text-center">
  <h2 class="my-5">経由地点の編集</h2>
</div>

<div class="row">
  <div class="col-md-6 offset-md-3 text-center">
    <%= render partial:'public/waypoints/waypoint_form', locals: { waypoint: @waypoint, url: admin_road_waypoint_path(@road, @waypoint)} %>
  </div>
</div>