/* 基本色 */
$iceblue: #75ABD7;
$light_green: #71CECF;
$beige: #DCD7D0;
$gray: #8F9093;
$dark_pink: #93748A;
$brown: #DBB421;
$light_brown: #D6C476;
$blue: #66BCDB;


/* エラー処理 */
$dark_gray: #666666;
$very_light_gray: #fafafa;
$gold: #ffd700;
