/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import 'font-awesome-sprockets';
 @import 'font-awesome';
 @import "colors";
 @charset "utf-8";

#wrapper{
    min-height: 100vh;
    position: relative;/*←相対位置*/
    padding-bottom: 60px;/*←footerの高さ*/
    box-sizing: border-box;/*←全て含めてmin-height:100vhに*/
    background-color: #f5f5f5;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

div#error_explanation{
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 10px;
  border: solid 4px $dark_gray;
  background-color: $very_light_gray;
  text-align: left;
  p.url {font-family: monospace;}
}

.header-main{
    background-color: $brown;
    .welcome-text {
      background-color: $light_brown;
      color: white;
    }
}

footer{
    width: 100%;
    background-color: #89c7de;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: absolute;/*←絶対位置*/
    bottom: 0; /*下に固定*/
}

#point-card-cautionary{
  background-color: #f0e68c;
}

#point-card-scenic{
  background-color: #b0e0e6;
}

#point-card-restful{
  background-color: #66cdaa;
}

.favorite{
  color: pink;
}

.road-info{
  color: grey;
}

.star{
  color: orange;
}

.area{
  color: white;
  font-size: 20px;
  font-weight: lighter;
  background-color: #808080;
  border: solid;
  border-width: thin;
  border-radius: 0.2em;
}

.title{
  font-weight: bold;
  color: #6495ed;
}

.card-img-overlay{
  padding: 0;
  top: calc(30% - 0.5rem);
  text-align: center;
  font-weight: bold;
  font-size: 3.0em;
  color: #fffaf0;
}

@media screen and (max-width:375px) {
  .card-img-overlay{
  padding: 0;
  top: calc(5% - 0.5rem);
  text-align: center;
  font-weight: bold;
  font-size: 2.2em;
  color: #fffaf0;
}
}

