<div class="row">
  <div class="col">
    <h2>ユーザー一覧</h2>
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>ユーザー名</th>
          <th>ニックネーム</th>
          <th>ステータス</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |user| %>
        <tr>
          <td><%= user.id %></td>
          <td><%= user.last_name + user.first_name %></td>
          <td><%= user.nick_name %></td>
          <% if user.is_deleted %>
            <td class="text-secondary">退会</td>
          <% else %>
            <td class="text-success">有効</td>
          <% end %>
          <td>
            <%= link_to "編集する", edit_admin_user_path(user), class:"btn btn-primary" %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>