<div class="row text-center mt-3">
  <div class="col-md-6 offset-md-3">
    <h2>マイページ</h2>
  </div>
</div>

<div class="row text-center mt-3">
  <div class="col-md-2 offset-md-5">
    <h4>登録情報</h4>
  </div>
</div>

<div class="row pt-3">
  <table class="col-md-6 offset-md-3 table table-bordered table-striped">
    <tr><th>氏名</th><td><%= current_user.last_name + current_user.first_name %></td></tr>
    <tr><th>ニックネーム</th><td><%= current_user.nick_name %></td></tr>
    <tr><th>自己紹介</th><td> <%= current_user.introduction %></td></tr>
  </table>
</div>

<div class="row text-center pt-5">
  <div class="col-md-6 offset-md-3">
    <%= link_to "編集する", edit_information_path, {class: "btn btn-success"} %>
  </div>
</div>