<div class="row">
    <div class="col-md-12">
      <h4 class="text-center py-5">本当に退会しますか？</h4>
      <h5 class="text-center">
        退会すると、会員登録情報が確認できなくなり、<br>
        新規でサイクリングロードやチェックポイントが登録できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </h5>
    </div>
  </div>
  <div class="row pt-3 pb-5">
    <div class="suspend-btn col-md-2 offset-md-4">
      <%= link_to "退会しない", mypage_path, class: "btn btn-primary" %>
    </div>
    <div class="suspend-btn col-md-2 pl-5">
      <%= link_to "退会する", withdraw_user_path, method: :patch, class: "btn btn-danger" %>
    </div>
  </div>