<% flash.each do |message_type, message| %>
  <% if message_type == "notice" %>
    <% message_type = "success" %>
  <% elsif message_type == "alert" %>
    <% message_type = "danger" %>
  <% end %>
  <div class="alert alert-<%= message_type %>"><%= message %></div>
<% end %>